
.img {
  height: 500px;
  width: 600px; 
  object-fit: cover;
  left: 0;
  margin-top: 2rem;
  bottom: 0;
  z-index: -1;
border-radius: 50%;
  border-top-right-radius: 15%;
}
.text{
  background-color: white;
  border-radius: 50%;
  height: 500px;
  background-color: white
  border-radius: 50%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 75%;
  border-top-right-radius: 15%;
  margin-top: 1rem;
  padding: 25%;
}
#div{
    background-image: linear-gradient(to right, pink , gold);
  width:100%;
}
#mg{
  border-radius: 50%;
    height: 400px;
  width: 400px;
   position: static;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
  margin-top: -548px;
}
.row{
  --bs-gutter-x: -1.5rem;
}